.layui-body {
    overflow: hidden;
}

a {
    transition: none !important;
}

.iconfont,
.layui-icon {
    padding-right: 10px;
}

.layui-icon {
    padding-left: 20px;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
}

.layui-nav-item span {
    color: #fff;
}

.text-avatar {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    background-color: #009688;
}

.text-avatar,
.layui-nav-img {
    margin-right: 5px;
    display: none;
}