html,
body {
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat 0 0 / cover;
}

.logo-box {
    height: 60px;
    background: url("../images/logo.png") no-repeat;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginAndRegBox a {
    font-size: 14px;
}

.title-box {
    height: 60px;
    background: url("../images/login_title.png") no-repeat center;
}

.layui-form {
    margin: 0 30px;
}

.link_register,
.link_login {
    text-align: right;
}

.register-box {
    display: none;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 35px;
}